@import '~styles/utils/modules-entry';

.friendsPage {
  composes: page-container from global;

  :global {
    animation-name: $page-entering-animation;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.heading {
  display: flex;
  align-items: center;
  margin: 0.1rem 0;
  font-size: $font-size-xlg;
}

.headingIcon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5rem;
}
